body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  width: 100%;
  min-height: 58px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  order: 2;
  width: 140px;
  height: 72px;
}

.main-navigation-wrapper {
  width: 1200px;
}

.site-nav-content {
  margin: 0 auto;
}

.main-navigation-wrapper .site-nav-content {
  display: flex;
  justify-content: space-between;
}

.site-navigation-left {
  display: flex;
  width: 500px;
  background-color: #ffffff;
  list-style: none;
}

.site-navigation-right {
  display: flex;
  width: 500px;
  background-color: #ffffff;
  list-style: none;
}

.site-navigation-left li,
.site-navigation-right li {
  margin: 0 auto;
}

.site-navigation-left li:first-child {
  margin-right: 100px;
}

.site-navigation-left li:nth-child(2) { 
  margin-right: 150px;
}

.site-navigation-right li:first-child {
  margin-left: 120px;
}

.site-navigation-right li:nth-child(2) {
  margin-left: 50px;
}

.welcome-background {
  position: relative;
  margin: auto;
  width: 1200px;
  height: 507px;
  background: #6292b8 url("../img/background-photo.png") no-repeat;
}

.welcome-background::before {
  content: "";
  position: absolute;
  top: 76px;
  left: 370px;
  width: 459px;
  height: 353px;
  background: url("../img/welcome.png") no-repeat;
}

.welcome-background::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 1200px;
  height: 59px;
  background: url("../img/polygon.png") no-repeat;
}

.light-black-text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.sedona-intro {
  text-align: center;
  border: 1px solid black;
  margin-top: 62px;
  margin-bottom: 32px;
}

.site-navigation a,
.feature-item b {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #d5d5d5;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
}

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
    }

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 55px 0 0 0;
  padding: 0;
  width: 1200px;
  list-style: none;
}

.feature-first {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 1200px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 330px;
  width: 1200px;
  list-style: none;
}

.feature-item:nth-child(1) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px; 
  text-align: center;
  background: url("../img/icon-house.png") no-repeat 163px 60px;
}

.feature-item:nth-child(2) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px; 
  text-align: center;
  background: url("../img/icon-food.png") no-repeat 173px 61px;
}

.feature-item:nth-child(3) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px; 
  text-align: center;
  background: url("../img/icon-souvenirs.png") no-repeat 155px 60px;
}

.feature-item b {
  font-size: 21px;
  line-height: 21px;
}

.feature-second {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
 
  width: 1200px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-list-second {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  list-style: none;
}

.extra-feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 400px;
  text-align: center;
  border: 1px solid black;
}

.extra-feature-item b {
  font-size: 21px;
  line-height: 21px;
}

.feature-first span,
.feature-second span,
.feature-first p,
.feature-second p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.feature-first b,
.feature-second b {
  font-size: 21px;
  line-height: 21px;
}

.search-hotel {
  width: 1200px;
  margin-top: 55px;
  text-align: center;
  color: #000000;
  border: 1px solid black;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 55px;
  width: 570px;
  border: 1px solid red;
}

.people {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.people .search-item {
  width: 250px;
}

.people input {
  width: 114px;
}

.button-call-form {
  display: inline-block;
  margin-top: 50px;
  padding: 32px 140px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-call-form:hover  {
  background-color: #604e43;
}

.button-call-form:active {
  color: #65564e;
  background-color: #503e33;
}

.search-item input {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-btn {
  margin-bottom: 55px;
  width: 457px;
  height: 57px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active { 
  color: #88b6d1;
  background-color: #5496bd;
}

.map {
 
}

.main-footer {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.social-buttons {
  list-style: none;
}

.footer-content b {
  font-size: 21px;
  line-height: 26px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}

.footer-socials {
  text-align: center;
}

.footer-content p {
  text-align: center;
}

.date-arrival {
  width: 348px;

  background: url("../img/calendar.png") no-repeat 97% 50%;
}

.date-retirement {
  width: 348px;

  background: url("../img/calendar.png") no-repeat 97% 50%;
}

.inner-page {
  color: #000000;
  background-color: #ffffff;
}

.filter-btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color:  rgba(15, 15, 15, 0.9);
}

.search-results b:first-child {
  font-size: 21px;
  line-height: 26px;
}

.info-active a {
  color: #7f6d62;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-items {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-price {
  color: #81b3d2;
}

.sorting-type,
.sorting-rate {
  color: #d9d9d9;
  border-bottom: 2px dotted #d9d9d9;
} 

.sorting-rate:hover {
  color: #81b3d2;
  border-bottom: 2px dotted #81b3d2; 
}

.sorting-rate:active {
  color: #000000;
  border-bottom: 2px dotted #000000; 
}

.sorting-type:hover {
  color: #81b3d2;
  border-bottom: 2px dotted #81b3d2; 
}

.sorting-type:active {
  color: #000000;
  border-bottom: 2px dotted #000000; 
}

.sorting-arrows {
  list-style: none;
}

.sort-arrow-up {
  fill: #cacaca;
}

.sort-arrow-down {
  fill: #81b3d2;
}

.sort-arrow-up:hover,
.sort-arrow-down:hover {
  fill: #231f20;
}

.sort-arrow-up:active,
.sort-arrow-down:active {
  fill: #81b3d2;
}

.searching-hotel {
  color: #000000;
}

.searching-hotel:hover {
  color: #81b3d2;
}

.searching-hotel:active {
  color: #dadada;
}

.results-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

.first-result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 73px;
  width: 1200px;
  border: 1px solid red;
}

.choice-left-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  margin-left: 30px;
  padding-top: 28px;
  padding-bottom: 30px;
  height: 151px;
  width: 550px;
  border: 1px solid green;
}

.results-choice b {
  font-size: 21px;
  line-height: 26px;
}

.results-choice span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
}

.more-info span {
  margin-bottom: 17px;
  line-height: 21px;
}

.more-info a {
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.more-info a:hover {
  background-color: #669ec0;
}

.more-info a:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.booking {
  display: flex;
  flex-direction: column;
}

.booking span {
  margin-bottom: 17px;
  line-height: 21px;
}

.booking a {
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
}

.booking a {
  color: #ffffff;
  background-color: #766357;
}

.booking a:hover {
  background-color: #604e43;
}

.booking a:active {
  color: #928a85;
  background-color: #503e33;
}

.rating {
  margin-left: 522px;
}