html, 
body { 
  width: 100%; 
  height: 100%; 
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative; 
  width: 1200px; 
  margin: 0 auto; 
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
  background-color: #ffffff;
}

.main-header {
  width: 100%;
  min-height: 40px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 55px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; 
  padding: 0;
  list-style: none;
}

.site-navigation li {
  width: 300px;
  box-sizing: border-box;
}

.site-navigation a {
  font-weight: 700;
}

.site-navigation li.active a {
  color: red ;
}

.site-navigation li:nth-child(1) {
  padding-left: 71px;
  text-align: left;
}


.site-navigation li:nth-child(2) {
  padding-left: 13px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  padding-right: 16px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  padding-right: 71px;
  text-align: right;
}

.site-navigation a,
.feature-item b {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #d5d5d5;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  order: 2;
  width: 140px;
  height: 72px;
}

.welcome-background {
  position: relative;
  margin: auto auto 61px auto;
  width: 1200px;
  height: 507px;
  background: #6292b8 url("../img/background-photo.png") no-repeat;
}

.welcome-background::before {
  content: "";
  position: absolute;
  top: 76px;
  left: 370px;
  width: 459px;
  height: 353px;
  background: url("../img/welcome.png") no-repeat;
}

.welcome-background::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 1200px;
  height: 59px;
  background: url(../img/intro-mask.svg) no-repeat;
}

.advantages-head {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}

.advantages-head p {
  display: inline-block;
  padding-top: 15px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-box {
  display: flex;
}

.content p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.advantages-item-color {
  background-color: #81b3d2;
}

.advantages-box img {
  display: block;
  flex-shrink: 0;
}

.advantages-about-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding-top: 3px;
  color: #ffffff;
}

.advantages-about-first b {
  width: 200px;
  padding-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-about-first span {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.advantages-about-first p {
  width: 280px;
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 256px;
  list-style: none;
}

.advantages-item:nth-child(4) {
  background-color: #eeeeee;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 400px;
  height: 171px;
  padding-top: 160px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.features-item-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 400px;
  min-height: 170px;
  padding-top: 45px;
  text-align: center;
}

.features-item b,
.features-item-second b {
  width: 120px;
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  width: 300px;
  padding-top: 10px;
  line-height: 21px;
}

.features-item-house {
  background-image: url("../img/house.svg");
  background-position-y: 60px;
}

.features-item-food {
  background-image: url("../img/food.svg");
  background-position-y: 60px;
}

.features-item-gift {
  background-image: url("../img/gift.svg");
  background-position-y: 56px;
}

.advantages-box-reverse {
  flex-direction: row-reverse;
}

.advantages-about-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  color: #ffffff;
}

.advantages-about-second b {
  width: 200px;
  padding-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-about-second span {
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.advantages-about-second p {
  width: 320px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

.features-item-second span {
  padding-top: 25px;
}

.features-item-second p {
  width: 264px;
  padding-top: 7px;
  line-height: 21px;
}

.features-item-second:nth-child(3) p {
  width: 250px;
  padding-top: 7px;
  line-height: 21px;
}

.search-hotel {
  width: 1200px;
  margin-top: 52px;
  text-align: center;
  color: #000000;
}

.search-conditions {
  display: block;
  margin-top: 25px;
  line-height: 24px;
}

.button-call-form {
  display: inline-block;
  box-sizing: border-box;
  width: 570px;
  max-height: 86px;
  margin-top: 34px;
  padding: 30px 140px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-call-form:hover  {
  background-color: #604e43;
}

.button-call-form:active {
  color: #65564e;
  background-color: #503e33;
}

.search-hotel b:nth-child(1) {
  display: inline-block;
  font-size: 31px;
  line-height: 31px;
}

.map {
  position: relative;
}

.map .search-form {
  position: absolute;
  top: 0;
  left: calc(50% - (570px / 2));
}

.search-form {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 55px;
  width: 570px;
  height: 340px;
  background-color: #ffffff;
}

.search-form form {
  padding: 0 55px;
}

.search-item {
  position: relative;
  display: flex;
  align-items: center;
}

.search-item label {
  display: block;
  flex-shrink: 0;
  width: 94px;
  margin-right: 18px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.search-item:not(:last-of-type) {
  margin-bottom: 29px;
}

.search-item input {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 345px;
  height: 38px;
  padding: 10px;
  padding-right: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.button-calendar {
  position: absolute;
  right: 9px;
  top:8px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  fill: #a9a9a9;
  background-color: transparent;
}

.button-calendar:hover {
  fill: #505050;
}

.button-calendar:active {
  fill: #86b6d4;
  outline: 0;
}

.search-item-column:nth-child(1) {
  position: relative;
  display: flex;
  align-items: center;
  width: 226px;
}

.search-item-column:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  width: 179px;
  margin-left: 53px;
}

.search-item-column:nth-child(1) label {
  display: block;
  flex-shrink: 0;
  width: 71px;
  margin-right: 41px;
}

.search-item-column:nth-child(2) label {
  display: block;
  flex-shrink: 0;
  width: 38px;
  margin-right: 27px;
}

.search-item-column input {
  display: block;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 42px;
  padding: 10px;
  text-align: center;
}

.search-item-buttons {
  display: flex;
  justify-content: space-between;
}

.button-minus,
.button-plus {
  width: 36px;
  height: 38px;
  fill: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.button-minus:hover,
.button-plus:hover {
  fill: #505050;
}

.button-minus:active,
.button-plus:active  {
  fill: #86b6d4;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-sub {
  margin-top: 54px;
}

.search-btn {
  width: 457px;
  height: 57px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active { 
  color: #88b6d1;
  background-color: #5496bd;
}

.map .main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 125px;
  color: #000000;
  background-color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; 
  width: 1056px;
}

.hash-tag {
  display: block;
  margin-left: 60px;
  margin-bottom: 24px;
}

.footer-content b {
  font-size: 21px;
  line-height: 26px;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding-left: 30px;
  margin-bottom: 14px;
  list-style: none;
}

.social-buttons li:not(:last-child) {
  padding-right: 6px;
  padding-bottom: 6px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-item:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin-right: 28px;
  margin-bottom: 11px;
}

.footer-copyright b {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright svg {
  display: block;
  box-sizing: border-box;
  margin-left: 10px;
}

.copyright-button:hover path {
  fill: #81b3d2;
}

.copyright-button:active path {
  fill: #bdbbbc;
}

.inner-page {
  color: #000000;
  
  background-color: #f2f2f2;
}

.filter {
  display: flex;
  min-height: 217px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-color: #487da7;
  background-size: cover;
}

.filter-form {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  height: 217px;
}

fieldset {
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-field {
  display: block;
  margin-top: 29px;
  margin-left: 4px;
  padding-top: 22px;
}

.filter-field:nth-of-type(2) {
  margin-left: -19px;
}

.filter-field:nth-of-type(3) {
  margin-top: 7px;
  margin-left: 192px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list li:not(:nth-child(3)) {
  margin-bottom: 25px;
}

.filter-list label {
  position: relative;
  padding-left: 42px;
}

.filter-list label:before {
  content: "";
  position: absolute;
  left: 0; 
  top: 0;
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/checkbox-off.svg");
}

.filter-list input[type="checkbox"]:focus + label {
  outline: 1px solid #457aa4;
}

.filter-list input[type="checkbox"]:checked + label:before {
  width: 26px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-list input[type="checkbox"]:checked:disabled + label:before {
  width: 26px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-list input[type="checkbox"]:disabled + label:before {
  background-image: url("../img/checkbox-disabled.svg");
}

.filter-range {
  width: 320px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 34px;
  margin-bottom: 19px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sorting-results {
  min-height: 87px;
}

.sorting-results h3 {
  font-size: 21px;
  line-height: 26px;
}

.sorting-results-container {
  display: flex; 
  justify-content: stretch;
  width: 1056px;
  margin: 0 auto;
}

.found {
  margin-top: 9px;
  margin-right: 50px;
}

.sorting-container {
  margin-top: 25px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 35px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.sorting-items li:not(:nth-of-type(3)) {
  margin-right: 30px;
}

.sorting-price {
  color: #81b3d2;
}

.sorting-type,
.sorting-rate {
  color: #d9d9d9;
  border-bottom: 2px dotted #d9d9d9;
} 

.sorting-type:hover {
  color: #81b3d2;
  border-bottom: 2px dotted #81b3d2; 
}

.sorting-type:active {
  color: #000000;
  border-bottom: 2px dotted #000000; 
}

.sorting-rate:hover {
  color: #81b3d2;
  border-bottom: 2px dotted #81b3d2; 
}

.sorting-rate:active {
  color: #000000;
  border-bottom: 2px dotted #000000; 
}

.sorting-arrows {
  display: flex;
  margin-top: 35px;
  margin-left: 470px;
  list-style: none;
}

.sort-arrow-up {
  margin-right: 12px;
  fill: #cacaca;
}

.sort-arrow-down {
  fill: #81b3d2;
}

.sort-arrow-up:hover,
.sort-arrow-down:hover {
  fill: #231f20;
}

.sort-arrow-up:active,
.sort-arrow-down:active {
  fill: #81b3d2;
}

.results {
  margin-bottom: 5px;
}

.result-item {
  display: flex;
  box-sizing: border-box;
  height: 150px;
}

.searching-hotel {
  margin-bottom: 10px;
  color: #000000;
}

.flex-container {
  display: flex;
}

.searching-hotel:hover {
  color: #81b3d2;
}

.searching-hotel:active {
  color: #dadada;
}

.result-item-container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 4px;
  padding-left: 73px;
  padding-right: 73px;
  border-top: 1px solid #e5e5e5;
}

.result-item-container:nth-of-type(3n) {
  border-bottom: 1px solid #e5e5e5;
}

.result-item-info {
  margin-left: 30px;
  width: 550px;
}

.result-item img {
  flex-shrink: 0;
}

.result-item-info h3 {
  margin-top: -4px;
  margin-bottom: 0px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.7px;
}

.result-buttons {
  display: flex;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info span {
  display: block;
  margin-top: 10px;
}

.more-info a {
  display: block;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin-right: 7px;
  margin-top: 13px;
  padding: 3px 17px;
  color: #ffffff;
  background-color: #81b3d2;
}

.more-info a:hover {
  background-color: #669ec0;
}

.more-info a:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.booking {
  display: flex;
  flex-direction: column;
}

.booking span {
  line-height: 21px;
  margin-top: 10px;
}

.booking a {
  display: block;
  box-sizing: border-box;
  width: 142px;
  height: 27px;
  margin-top: 13px;
  padding: 3px 17px;
}

.booking a {
  color: #ffffff;
  background-color: #766357;
}

.booking a:hover {
  background-color: #604e43;
}

.booking a:active {
  color: #928a85;
  background-color: #503e33;
}

.stars-and-rating {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
  margin-left: auto;
  padding-top: 20px;
}

.stars {
  display: block;
  width: 18px;
  height: 17px;
  margin-bottom: 37px;
  background: url(../img/stars.png) repeat-x;
}

.stars-4 {
  width: 95px;
  margin-left: auto;
}

.stars-3 {
  margin-left: auto;
  width: 71px;
}

.stars-2 {
  margin-left: auto;
  width: 47px;

}

.rating p {
  display: block;
  width: 100px;
  height: 27px;
  margin-top: 10px;
  padding-top: 3px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
}
