html, 
body { 
  width: 100%; 
  height: 100%; 
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative; 
  width: 1200px; 
  margin: 0 auto; 
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.content p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.main-header {
  width: 100%;
  min-height: 40px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 55px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; 
  padding: 0;
  list-style: none;
}

.site-navigation li {
  width: 300px;
  box-sizing: border-box;
}

.site-navigation li:nth-child(1) {
  padding-left: 71px;
  text-align: left;
}


.site-navigation li:nth-child(2) {
  padding-left: 13px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  padding-right: 16px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  padding-right: 71px;
  text-align: right;
}

.site-navigation a,
.feature-item b {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #d5d5d5;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  order: 2;
  width: 140px;
  height: 72px;
}

.welcome-background {
  position: relative;
  margin: auto auto 61px auto;
  width: 1200px;
  height: 507px;
  background: #6292b8 url("../img/background-photo.png") no-repeat;
}

.welcome-background::before {
  content: "";
  position: absolute;
  top: 76px;
  left: 370px;
  width: 459px;
  height: 353px;
  background: url("../img/welcome.png") no-repeat;
}

.welcome-background::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 1200px;
  height: 59px;
  background: url(../img/intro-mask.svg) no-repeat;
}

.light-black-text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}

.advantages-head {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.advantages-head p {
  display: inline-block;
  padding-top: 15px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-box {
  display: flex;
}

.advantages-about-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  color: #ffffff;
}

.advantages-about-first b {
  width: 200px;
  padding-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-about-first span {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.advantages-about-first p {
  width: 280px;
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

.advantages-item-color {
  background-color: #81b3d2;
}

.advantages-box img {
  display: block;
  flex-shrink: 0;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 400px;
  height: 170px;
  padding-top: 160px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.features-item-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 400px;
  height: 170px;
  padding-top: 44px;
  text-align: center;
}

.features-item b,
.features-item-second b {
  width: 100px;
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  width: 300px;
  padding-top: 10px;
  line-height: 21px;
}

.features-item-house {
  background-image: url("../img/house.svg");
  background-position-y: 60px;
}

.features-item-food {
  background-image: url("../img/food.svg");
  background-position-y: 60px;
}

.features-item-gift {
  background-image: url("../img/gift.svg");
  background-position-y: 56px;
}

.advantages-box-reverse {
  flex-direction: row-reverse;
}

.advantages-about-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  color: #ffffff;
}

.advantages-about-second b {
  width: 200px;
  padding-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-about-second span {
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.advantages-about-second p {
  width: 320px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

.features-item-second span {
  padding-top: 25px;
}

.features-item-second p {
  width: 264px;
  padding-top: 7px;
  line-height: 21px;
}

.features-item-second:nth-child(3) p {
  width: 250px;
  padding-top: 7px;
  line-height: 21px;
}

.search-hotel {
  width: 1200px;
  margin-top: 55px;
  text-align: center;
  color: #000000;
  border: 1px solid black;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 55px;
  width: 570px;
  border: 1px solid red;
}

.people {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.people .search-item {
  width: 250px;
}

.people input {
  width: 114px;
}

.button-call-form {
  display: inline-block;
  margin-top: 50px;
  padding: 32px 140px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-call-form:hover  {
  background-color: #604e43;
}

.button-call-form:active {
  color: #65564e;
  background-color: #503e33;
}

.search-item input {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-btn {
  margin-bottom: 55px;
  width: 457px;
  height: 57px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active { 
  color: #88b6d1;
  background-color: #5496bd;
}

.map {
 
}

.main-footer {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.social-buttons {
  list-style: none;
}

.footer-content b {
  font-size: 21px;
  line-height: 26px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}

.footer-socials {
  text-align: center;
}

.footer-content p {
  text-align: center;
}

.inner-page {
  color: #000000;
  background-color: #ffffff;
}

.filter-btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color:  rgba(15, 15, 15, 0.9);
}

.search-results b:first-child {
  font-size: 21px;
  line-height: 26px;
}

.info-active a {
  color: #7f6d62;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-items {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-price {
  color: #81b3d2;
}

.sorting-type,
.sorting-rate {
  color: #d9d9d9;
  border-bottom: 2px dotted #d9d9d9;
} 

.sorting-rate:hover {
  color: #81b3d2;
  border-bottom: 2px dotted #81b3d2; 
}

.sorting-rate:active {
  color: #000000;
  border-bottom: 2px dotted #000000; 
}

.sorting-type:hover {
  color: #81b3d2;
  border-bottom: 2px dotted #81b3d2; 
}

.sorting-type:active {
  color: #000000;
  border-bottom: 2px dotted #000000; 
}

.sorting-arrows {
  list-style: none;
}

.sort-arrow-up {
  fill: #cacaca;
}

.sort-arrow-down {
  fill: #81b3d2;
}

.sort-arrow-up:hover,
.sort-arrow-down:hover {
  fill: #231f20;
}

.sort-arrow-up:active,
.sort-arrow-down:active {
  fill: #81b3d2;
}

.searching-hotel {
  color: #000000;
}

.searching-hotel:hover {
  color: #81b3d2;
}

.searching-hotel:active {
  color: #dadada;
}

.results-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

.first-result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 73px;
  width: 1200px;
  border: 1px solid red;
}

.choice-left-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  margin-left: 30px;
  padding-top: 28px;
  padding-bottom: 30px;
  height: 151px;
  width: 550px;
  border: 1px solid green;
}

.results-choice b {
  font-size: 21px;
  line-height: 26px;
}

.results-choice span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
}

.more-info span {
  margin-bottom: 17px;
  line-height: 21px;
}

.more-info a {
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.more-info a:hover {
  background-color: #669ec0;
}

.more-info a:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.booking {
  display: flex;
  flex-direction: column;
}

.booking span {
  margin-bottom: 17px;
  line-height: 21px;
}

.booking a {
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
}

.booking a {
  color: #ffffff;
  background-color: #766357;
}

.booking a:hover {
  background-color: #604e43;
}

.booking a:active {
  color: #928a85;
  background-color: #503e33;
}

.rating {
  display: flex;
  flex-direction: column;
  margin-left: 522px;
}